@import url(./common.css);

.filter{
    display: inline-block;
    gap: 10px;
    margin: 15px;
    background: var(--card);
}
.filter select, .filter input{
    padding: 10px;
    border-radius: 9px;
    border: 2px solid var(--shadow);
    color: var(--primary);
    font-weight: bolder;
    background: var(--card);
    margin: 10px;
}

.content-wrapper {
    display: flex;
    gap: 20px;
}
.content-wrapper .filter, .content-wrapper #curriculum {
    width: 100%;
}
.content-wrapper table th, .content-wrapper table td {
    border: 1px solid var(--shadow);
    padding: 6px;
}

.course{
    border: 1px solid var(--shadow);
    border-radius: 6px;
    padding: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: var(--card);
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.course:hover{
    background: var(--hov);
}

.noAnswer{
    color:var(--text); 
    display:flex; 
    justify-content:center; 
    align-items:center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 1fr));
    gap: 10px;
    width: 100%;
    margin: 0 auto 60px;
    justify-items: center;
}

.card {
    background-color: var(--card);
    border-radius: 16px;
    padding: 20px;
    width: 200px;
    height: 200px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    text-decoration: none;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.12);
}

.card h3 {
    margin: 8px 0;
    color: var(--text);
    font-size: 18px;
}
.card p {
    font-size: 14px;
    color: var(--subtext);
    margin: 0;
}