@import url(./common.css);
    
main{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
    .tap{
        display: block;
        background: var(--card);
        border-bottom: 3px solid #ccc;
        padding: 10px 10px;
        margin-top: 15px;
    }
    .card{
        background: var(--card);
        padding: 22px; 
        border-radius: var(--radius);
        box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    }
    .btn{
        display: inline-block;
        margin: 6px 4px 0 0;
        padding: 10px 16px;
        border-radius: 12px;
        background: var(--primary);
        color: #fff;
        text-decoration: none;
        font-weight: bolder;
        border-bottom: 3px solid #ccc;
        transition: background-color 0.3s, transform 0.3s;
    }
    .btn:hover{
        background: var(--hov);
        border-bottom: 3px solid var(--primary);
        color: var(--primary);
        cursor: pointer;
        transform: translateY(-2px);
    }
    .btn.show{
        background: #eef2ff;
        border-bottom: 3px solid var(--primary);
        color: var(--primary);
    }
    
    .tap-btns{
        max-height: 0;
        overflow: hidden;
    }
    .tap-btns.show{
        max-height: 500px;
        transition: max-height 0.5s ease-in;
    }
    .tap-btns a{
        display: inline-block;
        margin: 6px 6px 0 0;
        padding: 10px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: background-color 0.2s, transform 0.2s;
        border-radius: 9px;
    }
    .tap-btns a:hover{
        background: #eef2ff;
        color: var(--primary);
        transform: translateY(-2px);
    }

    .taphead{
        display: inline-block;
        margin: 6px 6px 0 0;
        padding: 10px;
        text-decoration: none;
        color: var(--primary);
        width: 60px;
        text-align: center;
        border-radius: 9px;
        font-weight: bolder;
        border: 2px solid #ccc;
    }

    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    th, td{
        border: 1px solid var(--muted);
        padding: 8px;
    }

    .useful{
        margin: 5px;
    }
    .useful a{
        text-decoration: none;
        color: black;
    }
    .useful a:hover{
        color: var(--primary);
        font-weight: bold;
    }
    
footer{
    margin-top: 40px;
    text-align: center;
    color: var(--muted);
    font-size:0.9rem
}